#registration-page {
    color: black;
    margin-left: 15px;
    padding-left: 6%;
}

h1#registration-page{
    font-size: 30px;
    margin-top: 2%;
}

h2#registration-page{
    font-size: 18px;
    margin-bottom: 2%;
}

a.link-registration{
    text-decoration: underline;
}

#registration-form {
    padding-left: 8%;
}

div.form-group {
    padding: 10px;
    border-color: blue;
}

.form-control {
    background-color: white;
    width: 270px;
    height: 52px;
    padding: 15px;
    border-radius: 10px;
    border: 0px;
    font-size: 18px;
}

#exampleInputEmail {
    width: 540px;
}

#submit-button {
    background-color: black;
    border: 0px;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
}

.rutaRes{
    color: white;
    text-decoration: none;
}

/*LOGIN CSS*/

#login-form{
    padding-left: 8%;
    margin-top: 50px
}


/*MI PERFIL CSS*/
#prueba-div{
    border: 1.5px solid black;
    border-radius: 8px;
    padding: 6px;
    margin-bottom: 20px;
    width: 40%;
}

.info{
    margin: 0px;
    font-size: 18px;
    font-weight: lighter;
}


