body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:rgb(138, 98, 231);
}

.imagenproductos{
  height: 150px;
}

.titulos{
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-style: oblique;
}
