<%- include("partials/headerRegistrado.ejs")%>

    <h1 id="registration-page">Información de usuario</h1>
    

    <form id="registration-form">
        <h2>Nombre</h2>
        <div id="prueba-div" class="form-group">
            <h2 class="info">Eze</h2> 
        </div>

        <h2>Apellido</h2>
        <div id="prueba-div" class="form-group"> 
            <h2 class="info">Martín</h2>
        </div>

        <h2>Email</h2>
        <div id="prueba-div" class="form-group">
            <h2 class="info">ezemartin30@gmail.com</h2>
        </div>

        <h2>DNI</h2>
        <div id="prueba-div" class="form-group">
            <h2 class="info">13.229.842</h2>
        </div>

        <h2>Fecha de nacimiento</h2>
        <div id="prueba-div" class="form-group">
            <h2 class="info">1980/12/30</h2>
        </div>


        <button type="submit" id="submit-button" class="btn btn-primary"><a class="rutaRes" href="/edicion">Editar</a></button>

        <button type="submit" id="submit-button" class="btn btn-primary"><a class="rutaRes" href="/">Continuar</a></button>
    </form>


    <%- include("partials/footer.ejs")%>