<%- include("partials/header.ejs")%>

<h1 id="registration-page">Registro de usuario</h1>
<h2 id="registration-page">¿Ya estás registrado? <a class="link-registration" href="/login">Ingresá aquí</a></h2>

<% if(locals.errors){ %>
    <p id="alert"> <%=errors.message%> </p>
<% } %>

<form id="registration-form" method="POST" action="/registration">
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="emailHelp" placeholder="Nombre" name="nombre">
        <input type="text" class="form-control" id="exampleInputApellido" aria-describedby="emailHelp" placeholder="Apellido" name="apellido">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="emailHelp" placeholder="DNI" name="documento">
        <input type="date" class="form-control" id="exampleInputApellido" aria-describedby="emailHelp" placeholder="Fecha de nacimiento" name="fecha_de_nacimiento">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email" name="mail">
    </div>

    <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="password">
    </div>

    <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repetir contraseña" name="repassword">
    </div>

    <button type="submit" id="submit-button" class="btn btn-primary">Confirmar</button>
</form>


<%- include("partials/footer.ejs")%>