<%- include("partials/header.ejs")%>
    <h1 class="titulos">Felicitaciones, hás roto el código</h1>
    <br>
    <h3>Quizá lo has hecho para investigar el codigo, quizá lo has hecho por haberlo visto en las vistas, o quizá estas actualmente leyendo esto desde code. </h3>
    <h3>Sea como sea, no hay forma posible de acceder a esta sección desde la página, debido a que no lo programamos para eso (planeabamos hacerlo en un futuro en caso de crear más unidades, pero por ahora el index resulto ser más que suficiente)</h3>
    <h3>Por lo mismo hás roto el código, pero ¿por qué estas viendo esto? En teoría cuando el código se rompe no debería funcionar...</h3>
    <h3>Para contestar esto voy a relatarte una pequeña historia: En el año 1978 sale al mercado un juego llamado "Adventure" para la "Atari 2600"</h3>
    <h3>En ese momento, en los videojuegos no se les daba el crédito a sus desarrolladores, por lo cual un programador del juego "Adventure" Warren Robinett buscó la manera de dejar su huella permanentemente en el juego, y así, llevarse el reconocimiento por su esfuerzo.</h3>
    <h3>Para esto colocó un mensaje casi imperceptible en los laberintos del juego (un pixel diferente en una pared), pero que si se conseguía ver, nos permitía visitar una habitación secreta que en realidad sólo tenía el propósito de dejarnos ver el siguiente mensaje: “Created by Warren Robinett”</h3>
    <h3>Esto se considera el primer Easter Egg de los videojuegos, y en honor a esto, he decidido hacer lo propio en el código. Tu que hás roto el código puedes ver el mensaje</h3>
    <h3>Aunque mucho más simple que lo que hizo Robinett, este es mi primer Easter Egg en un programa, ¿hare más en el futuro? realmente no lo se, pero espero con esto haberte  sacado una sonrisa, despues de todo has logrado romper el codigo y ver un mensaje solo disponible para aquellos dignos, o al menos aquellos que pongan atención</h3>
    <h3>Gracias por haber leido todo hasta el final y tu dedicación y atención a los detalles para encontrar lo oculto, en el futuro ¿jugamos otra vez?</h3>
    <h2>“Created by Federico Bornico 2021.04.24”</h2>
<%- include("partials/footer.ejs")%>