<% if (nombre==null) { %>
    <%- include("partials/header.ejs")%>
<% } else { %>
    <%- include("partials/headerRegistrado.ejs")%>
<% } %>

<h1>info de usuarios</h1>




<%- include("partials/footer.ejs")%>